In [1]:

import pandas as pd
import mysql.connector
from mysql.connector import Error
from openpyxl import load_workbook

# Set up connection parameters
connection_params = {
    'host': 'localhost',
    'user': 'root',
    'password': 'Aadi@4321A',
    'database': 'cbretask1',
    'port': 3306
}

try:
    # Establish a connection to MySQL
    connection = mysql.connector.connect(**connection_params)

    if connection.is_connected():
        print("Connected to MySQL")

        # Define your SQL query
        sql_query = "SELECT * FROM cbre1"

        # Execute the query
        cursor = connection.cursor()
        cursor.execute(sql_query)

        # Fetch the query result
        result = cursor.fetchall()

except mysql.connector.Error as e:
    print("Error:", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Connection closed")

# Assuming you have column names available in cursor.column_names
columns = cursor.column_names
data_dict = {column: [] for column in columns}

for row in result:
    for i, value in enumerate(row):
        data_dict[columns[i]].append(value)

# Load existing Excel workbook
excel_file_path = 'Covid-Dashboard.xlsx'
workbook = load_workbook(excel_file_path)

# Select the worksheet
sheet_name = 'Sheet1'
sheet = workbook[sheet_name]

# Find the last row in the sheet
last_row = sheet.max_row + 1

# Append data to the sheet
for column_idx, column_name in enumerate(columns):
    for row_idx, value in enumerate(data_dict[column_name]):
        sheet.cell(row=last_row + row_idx, column=column_idx + 1, value=value)

# Save the changes
workbook.save(excel_file_path)
print("Data added to Excel successfully.")

Connected to MySQL
Connection closed
Data added to Excel successfully.

In [2]:
# Establish a connection to the MySQL database
try:
    connection = mysql.connector.connect(
        host='localhost',
        database='cbretask1',
        user='root',
        password='Aadi@4321A'
    )

    if connection.is_connected():
        cursor = connection.cursor()

        # Create the table if not exists
        create_table_query = """
CREATE TABLE IF NOT EXISTS cbre12 (
    `State_UTs` VARCHAR(19) CHARACTER SET utf8,
    `Zone` VARCHAR(5) CHARACTER SET utf8,
    `Total_Cases` INT,
    `Active` INT,
    `Discharged` INT,
    `Deaths` INT,
    `Active_Ratio` NUMERIC(3, 2),
    `Discharge_Ratio` NUMERIC(4, 2),
    `Discharge_Avg` VARCHAR(13) CHARACTER SET utf8,
    `Death_Ratio` NUMERIC(3, 2),
    `Death_Avg` VARCHAR(13) CHARACTER SET utf8,
    `Population` INT
);
        """

        cursor.execute(create_table_query)
        print("Table is created.")

        # Sample data
        data = [
            ('Andaman and Nicobar','South',7670,7,7534,129,0.09,98.23,'Below Average',1.68,'Above Average',399001),
('Andhra Pradesh','South',2069770,3128,2052230,14412,0.15,99.15,'Above Average',0.7,'Below Average',91702478),
('Arunachal Pradesh','East',55216,42,54894,280,0.08,99.42,'Above Average',0.51,'Below Average',1711947),
('Assam','East',613784,3272,604465,6047,0.53,98.48,'Above Average',0.99,'Below Average',35998752),
('Bihar','East',726153,29,716462,9662,0,98.67,'Above Average',1.33,'Above Average',128500364),
('Chandigarh','North',65380,24,64536,820,0.04,98.71,'Above Average',1.25,'Below Average',1158040),
('Chhattisgarh','East',1006326,230,992508,13588,0.02,98.63,'Above Average',1.35,'Above Average',32199722),
('Daman and Diu','West',10682,0,10678,4,0,99.96,'Above Average',0.04,'Below Average',773997),
('Delhi','North',1440388,361,1414934,25093,0.03,98.23,'Below Average',1.74,'Above Average',19301096),
('Goa','West',178467,263,174830,3374,0.15,97.96,'Below Average',1.89,'Above Average',1521992),
('Gujarat','West',826924,226,816608,10090,0.03,98.75,'Above Average',1.22,'Below Average',70400153),
('Haryana','North',771420,140,761230,10050,0.02,98.68,'Above Average',1.3,'Above Average',28900667),
('Himachal Pradesh','North',225712,1100,220800,3812,0.49,97.82,'Below Average',1.69,'Above Average',7503010),
('Jammu and Kashmir','North',334006,1450,328108,4448,0.43,98.23,'Below Average',1.33,'Above Average',14999397),
('Jharkhand','East',348992,141,343713,5138,0.04,98.49,'Above Average',1.47,'Above Average',40100376),
('Karnataka','South',2991614,8056,2945415,38143,0.27,98.46,'Above Average',1.27,'Below Average',69599762),
('Kerala','South',5055224,69258,4950281,35685,1.37,97.92,'Below Average',0.71,'Below Average',34698876),
('Ladakh','North',21148,154,20783,211,0.73,98.27,'Below Average',1,'Below Average',290492),
('Lakshadweep','South',10365,0,10314,51,0,99.51,'Above Average',0.49,'Below Average',66001),
('Madhya Pradesh','West',792956,75,782357,10524,0.01,98.66,'Above Average',1.33,'Above Average',85002417),
('Maharashtra','West',6623344,15866,6466913,140565,0.24,97.64,'Below Average',2.12,'Above Average',124904071),
('Manipur','East',124432,799,121687,1946,0.64,97.79,'Below Average',1.56,'Above Average',3436948),
('Meghalaya','East',84013,277,82274,1462,0.33,97.93,'Below Average',1.74,'Above Average',3772103),
('Mizoram','East',128604,5651,122494,459,4.39,95.25,'Below Average',0.36,'Below Average',1308967),
('Nagaland','East',31978,163,31123,692,0.51,97.33,'Below Average',2.16,'Above Average',2073074),
('Odisha','East',1045209,2534,1034300,8375,0.24,98.96,'Above Average',0.8,'Below Average',47099270),
('Puducherry','South',128401,275,126263,1863,0.21,98.33,'Below Average',1.45,'Above Average',1646050),
('Punjab','North',602778,318,585889,16571,0.05,97.2,'Below Average',2.75,'Above Average',30501026),
('Rajasthan','West',954503,71,945478,8954,0.01,99.05,'Above Average',0.94,'Below Average',79502477),
('Sikkim','East',32096,121,31575,400,0.38,98.38,'Above Average',1.25,'Below Average',658019),
('Tamil Nadu','South',2714025,9751,2668001,36273,0.36,98.3,'Below Average',1.34,'Above Average',83697770),
('Telengana','South',673469,3741,665755,3973,0.56,98.85,'Above Average',0.59,'Below Average',38157311),
('Tripura','East',84665,116,83732,817,0.14,98.9,'Above Average',0.96,'Below Average',4184959),
('Uttar Pradesh','North',1710261,90,1687262,22909,0.01,98.66,'Above Average',1.34,'Above Average',231502578),
('Uttarakhand','North',344014,158,336453,7403,0.05,97.8,'Below Average',2.15,'Above Average',11700099),
('West Bengal','East',1603318,8031,1575980,19307,0.5,98.29,'Below Average',1.2,'Below Average',100896618)
        ]

        # Insert data into the table
        insert_query = """
            INSERT INTO cbre12 (`State/UTs`, `Zone`, `Total_Cases`, `Active`, `Discharged`, `Deaths`,
                               `Active_Ratio`, `Discharge_Ratio`, `Discharge_Avg`, `Death_Ratio`, `Death_Avg`, `Population`)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
        """
        cursor.executemany(insert_query, data)
        connection.commit()
        print("Data inserted into MySQL table.")

except Error as e:
    print("Error while connecting to MySQL:", e)
finally:
    # Close the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Connection closed")

Table is created.
Data inserted into MySQL table.
Connection closed

In [3]:
# Get the number of rows and columns in the sheet
num_rows = sheet.max_row
num_columns = sheet.max_column

In [4]:
print(f"Number of rows in '{sheet_name}': {num_rows}")
print(f"Number of columns in '{sheet_name}': {num_columns}")

Number of rows in 'Sheet1': 37
Number of columns in 'Sheet1': 12

In [5]:
import pandas as pd
from openpyxl import load_workbook

# Load the new Excel file
new_excel_file_path = 'Data_Africa.xlsx'
new_data = pd.read_excel(new_excel_file_path)

# Load existing Excel workbook
excel_file_path = 'Covid-Dashboard.xlsx'
workbook = load_workbook(excel_file_path)

# Select the worksheet
sheet_name = 'Aadi'
sheet = workbook[sheet_name]

# Find the last row in the sheet
last_row = sheet.max_row + 1

# Iterate through the rows of the new data and append to the sheet
for index, row in new_data.iterrows():
    for column_idx, column_name in enumerate(row.index):
        sheet.cell(row=last_row + index, column=column_idx + 1, value=row[column_name])

# Save the changes
workbook.save(excel_file_path)
print("Data added to Excel successfully.")

Data added to Excel successfully.

In [6]:
# Get the number of rows and columns in the sheet
num_rows = sheet.max_row
num_columns = sheet.max_column
print(f"Number of rows in '{sheet_name}': {num_rows}")
print(f"Number of columns in '{sheet_name}': {num_columns}")

Number of rows in 'Aadi': 5337
Number of columns in 'Aadi': 6